header {
    background: rgb(28,36,120);
    background: linear-gradient(128deg, rgba(28,36,120,1) 0%, rgba(30,19,77,1) 47%, rgba(90,21,108,1) 100%);
    border-radius: 0px 0px 30px 30px;
    height: 90vh;
}
h1 {
    font-family: "Quicksand", sans-serif;
}